.title{
    height: 2rem;
    text-align: center;
    padding:1.5rem;
    width: 93%;
    box-shadow: 0 4px 5px -3px  #979797;
    background-color: #FFFFFF;
    position:fixed;
    top:0;
}
.title div{
    height: 100%;
    font-size: 2rem;
    color: #393636;
    letter-spacing: 0.1rem;
    float:left;
}
.title i{
    font-size:2rem;
    color: #393636;
    float:left;
}
.content{

}
.summary{
    font-size: 1.6rem ;
    letter-spacing: 0.1rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    background-color: #EAEAEA;
    padding:5.5rem 1.5rem 0.5rem 1.5rem;
}
.launch{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    box-shadow: #979797 0 0 20px 1px inset;
    /*box-shadow:black 0px 0px 10px;*/
    position: fixed;
    top:18rem;
    right: 2rem;
    text-align: center;
    line-height: 4rem;
    background-color: #EAEAEA;
}
.cor_title{
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    margin: 1rem 0;
}
.cor_content{
    display: flex;
    margin-bottom: 1rem;
}
.cor_detail{
    font-size: 1.4rem ;
    letter-spacing: 0.1rem;
    line-height: 1.7rem;
    color: #393636;
    width:29.5rem;
}
.apply{
    height: 2rem;
    line-height: 2rem;
    width:6.5rem;
    font-size: 1.3rem ;
    letter-spacing: 0.1rem;
    color: #FFFFFF;
    padding:0.5rem 0.8rem;
    border-radius: 1.5rem;
    background-color: #1296db;
    text-align: center;
    /*opacity: 0.8;*/
    margin-left: 1rem;
}
.dynamcis{
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    color: #979797;
}
.fire{
    float:left;
    margin-right: 1rem;
}
.divide_line{
    height: 1px;
    width: 100%;
    background-color: #EAEAEA;
    margin-top: 1.5rem;
}


