*{
    margin:0;
    padding:0;
    list-style: none;
}
.top{
    position:fixed;
    top:0;
    background-color: white;
    height: 7.3rem;
    width: 100%;
}
.search-box{
    position:fixed;
    top:0;
    width:100%;
    height:5rem;
    display: inline-block;
    text-align: center;
    line-height:5.17rem;
}
.search_button{
    position:fixed;
    top: 1.55rem;
    right:2.4rem;
    height: 2rem;
    line-height: 2rem;
    border:0;
    background-color: #e9e9e9;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
}
.input{
    width:74%;
    height: 2rem;
    background-color: #eeeeee;
    border-radius: 8px;
    border:1px solid #cccccc;
    outline:none;
    padding:0.5rem 4rem 0.5rem 3rem;
    position:relative;
    font-size:1.3rem;
    letter-spacing: 0.1rem;
}
.iconfont{
    font-size: 1.8rem !important;

}
.searchSign{
    width: 10%;
    position:fixed;
    left:1.2rem;
    top:0;
}
.divide_line{
    position:fixed;
    top: 1.45rem;
    right:6rem;
    width:1px;
    height: 2rem;
    background-color: #979797;
}

.tab-bar{
    display:flex;
    width: 100%;
    position:fixed;
    top: 5rem;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-bottom:1rem;
    /*   margin-top: 5rem;*/
    font-size:1.4rem;
    letter-spacing: 0.1rem;
}
.signalLine{
    position:fixed;
    top: 7.3rem;
    left:66.7%;
    width: 33.3%;
    height: 2px;
    background-color: #000000;
}
.line{
    position:fixed;
    top: 7.3rem;
    width:100%;
    height:1px;
    background-color: #979797;
}
.divide-shadow{
    width:100%;
    height:1px;
    background-color: #EAEAEA;
}
.title{
    height:2rem;
    line-height:2rem;
    margin:8.8rem 2rem 0 2rem;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
}
.text{
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    line-height: 1.7rem;
}
p{
    float:left;
}

.number{
    width:2%;
    color: #ff0000;
}
.left{
    width:60%;
}
.right{
    width:30%;
    text-align:center ;
    height:6rem;
    line-height: 6rem;
    border-radius: 3px;
    overflow: hidden;
}
.content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:1.5rem;
}
.dynamcis{
    margin-top:0.5rem;
    color: #979797;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}
.bottom_line{
    height: 1px;
    width:100%;
    background-color: #d6d6d6;
    position: fixed;
    bottom: 5rem;
}
.bottom{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    height: 4rem;
    width: 100%;
    background-color: white;
    padding: 0.7rem 0 0.3rem 0;
    letter-spacing:0.1rem;
    font-size: 1.2rem;
    line-height:1.7rem;
}
.ask{
    height: 4rem;
    line-height: 4rem;
    width: 4rem;
    background-color: #797979;
    border-radius: 3rem;
    text-align: center;
}

.ask_box{
    height: 50px;
    line-height: 50px;
}

